.data
.idea
.DS_Store

# Drupal application files
cms/.editorconfig
cms/.gitignore
cms/.htaccess
cms/CHANGELOG.txt
cms/COPYRIGHT.txt
cms/INSTALL.mysql.txt
cms/INSTALL.pgsql.txt
cms/INSTALL.sqlite.txt
cms/INSTALL.txt
cms/LICENSE.txt
cms/MAINTAINERS.txt
cms/README.txt
cms/UPGRADE.txt
cms/authorize.php
cms/cron.php
cms/files/
cms/includes/
cms/index.php
cms/install.php
cms/misc/
cms/modules/
cms/profiles/
cms/robots.txt
cms/scripts/
cms/sites/
cms/themes/
cms/update.php
cms/web.config
cms/xmlrpc.php

# Symfony Application Files
symfony/.idea
symfony/README.md
symfony/app/
symfony/bin/
symfony/composer.json
symfony/composer.lock
symfony/phpunit.xml.dist
symfony/src/
symfony/tests/
symfony/var/
symfony/vendor/
symfony/web/

# Flask
flask-gunicorn/.idea
__pycache__

# Django
django-nomissez/config/elastic_search/backups/
django-nomissez/config/elastic_search/backups.zip

# Django (Gunicorn Version)
django-gunicorn/web/static
