{% extends "_base.html" %}

{% block content %}
 {% include 'nav.html' %}
  <div class="container">
    <div class="story-head">
      <h1>{{ article.headline }}</h1>
      <div class="abs-outer-box">
        <div class="reporter-display">
        {{ article.publishDate }}
         </div>
        <div class="media-heading">
        </div>
      </div>
    </div>
    <div class="article-container">
      <div class="article">
        {% autoescape off %}
          {{article.body}}
        {% endautoescape  %}
      </div>
    </div>
  </div>
{% endblock content %}
