<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <head>
        {% if title %}
        <title>{{ title }} - DNAinfo</title>
        {% else %}
        <title>Neighborhood News - DNAinfo.com</title>
        {% endif %}
    </head>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="" />
</head>
<body>
    {% include 'header.html' %}
    {% include 'navigation.html' %}
    {% block content %}{% endblock %}
    {% block javascripts %}{% endblock %}
    {% include 'footer.html' %}
</body>
</html>