{% extends "base.html" %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/elasticsearch.css') }}" />
{% endblock %}

{% block content %}
<h1>Elasticsearch POC</h1>
<div class="form-wrapper">
    <form method="GET" action="/articlelist">
        <label>
            Search
            <input name="q" type="text">
            <button class="css_btn_class" type="submit">Go</button>
        </label>
    </form>
</div>
{{ debug }}
{% endblock %}