{% extends "base.html" %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/elasticsearch.css') }}" />
{% endblock %}

{% block content %}
<h1>Elasticsearch POC</h1>
<div class="form-wrapper">
    <form method="GET" action="/elasticsearch">
        <label>
            Search
            <input name="q" type="text">
            <button class="css_btn_class" type="submit">Go</button>
        </label>
    </form>
</div>
<div class="form-wrapper">
    <h2>{{ list_headline }}</h2>
    <ul>
    {% for hit in hits %}
        <li><a href="{{ url_for('story_id', id=hit._id) }}">{{ hit._source.headline}} - Published on {{ hit._source.created|datetimeformat }}</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}