{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>DNAinfo Search</title>
    <meta charset="utf-8">
    <meta content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
 
    <link rel="stylesheet" href="{% static "css/search.css" %}">
  </head>
  <body>
    <div class="nav">
      <div class="logo">
        <a href="/elastic">
        <img class="dna-logo" src="{% static "images/logo_noshadow.svg" %}" alt="DNAinfo"> </a> <b>DJANGO POC</b>
      </div>
      <div class="search">
      <form action="/elastic" method="get">
      
      <input id="id_q" name="q" type="text">
      <button type="submit">
      <span class="glyphicon glyphicon-search"><label for="id_q"></label></span>
      </button>
      
    </form>
      </div>
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
